/* Tailwind core directives MUST come first */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
  color: black;
  font-family: 'Inter', sans-serif;
}
